@model TechHrms.WebApp.Models.Administration.DeleteAdministrationConfirmationViewModel
@{
    ViewData["Title"] = "Administration Confirmation";
}
<h1>@ViewData["Title"]</h1>

<div>
    Employee ID: @Model.AdministrationID
</div>
