@model TechHrms.WebApp.Models.HRRaport.RegisterHRRaportFormModel
@{
    ViewData["Title"] = "Register HRRaport";
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="/HRRaport/RegisterHRRaport">


    <label for="Title">Title:</label>
    <input type="Title" asp-for="Title" placeholder="Title" />
    <br />
    <br />

    <label for="Description">Description Name</label>
    <input asp-for="Description" placeholder="Description Name" />
    <br />
    <br />

    <label for="GeneratedOn">GeneratedOn</label>
    <input asp-for="GeneratedOn" placeholder="GeneratedOn" />
    <br />
    <br />

    <label for="GeneratedBy">GeneratedBy</label>
    <input asp-for="GeneratedBy" placeholder="GeneratedBy" />
    <br />
    <br />
    
    <label for="FilePath">FilePath</label>
    <input asp-for="FilePath" placeholder="FilePath" />
    <br />
    <br />



    <button type="submit">Submit</button>
</form>
