@model TechHrms.WebApp.Models.ProjectManagment.ProjectManagerConfirmationViewModel
@{
    ViewData["Title"] = "Project Manager Confirmation";
}
<h1>@ViewData["Title"]</h1>

<div>
    Project ID: @Model.ProjectID
</div>

