@model TechHrms.WebApp.Models.ProjectManagment.RegisterProjectManagerFormModel
@{
    ViewData["Title"] = "Register Project Manager";
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="/ProjectManagment/RegisterProjectManager">
    <label for="EmployeeId">EmployeeId:</label>
    <input asp-for="EmployeeId" placeholder="EmployeeId" />
    <br />
    <br />

    <label for="ProjectName">ProjectName:</label>
    <input type="ProjectName" asp-for="ProjectName" placeholder="ProjectName" />
    <br />
    <br />

    <label for="Description">Description Name</label>
    <input asp-for="Description" placeholder="Description Name" />
    <br />
    <br />

    <label for="StartDate">StartDate</label>
    <input asp-for="StartDate" placeholder="StartDate" />
    <br />
    <br />

    <label for="EndDate">EndDate</label>
    <input asp-for="EndDate" placeholder="EndDate" />
    <br />
    <br />

    <label for="Status">Status</label>
    <input asp-for="Status" placeholder="Status" />
    <br />
    <br />

    <label for="ClientName">ClientName</label>
    <input asp-for="ClientName" placeholder="ClientName" />
    <br />
    <br />

    <button type="submit">Submit</button>
</form>
