@model TechHrms.WebApp.Models.Training.TrainingConfirmationViewModel
@{
    ViewData["Title"] = "Project Manager Confirmation";
}
<h1>@ViewData["Title"]</h1>

<div>
    Project ID: @Model.TrainingID
</div>

