@model TechHrms.WebApp.Models.Employees.DeleteConfirmationViewModel
@{
    ViewData["Title"] = "Employee Confirmation delete";
}
<h1>@ViewData["Title"]</h1>

<div>
    Employee ID: @Model.EmployeeId
</div>