@model TechHrms.WebApp.Models.Employees.EmployeeConfirmationViewModel
@{
    ViewData["Title"] = "Employee Confirmation";
}
<h1>@ViewData["Title"]</h1>

<div>
    Employee ID: @Model.EmployeeId
</div>

